{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-sm h-100">
        <div class="row justify-content-center h-100">
            <div class="col-12 col-md-6 my-auto">
                <h3 class="text-center"><strong>Welcome to Health Compass</strong></h3><br>
                <hr>
                <h4>Transform Your Health with Personalized Nutrition</h4>
                    <p>
                        Are you ready to take charge of your well-being and achieve optimal health? 
                        Look no further! Health Compass is here to guide you on your journey towards 
                        a healthier, more nourished you.<br>
                        Our team of dedicated nutritionists and wellness experts are passionate 
                        about helping you make positive and sustainable changes to your diet and lifestyle. 
                        We believe that food is not just fuel, but also medicine, and with the right approach, 
                        you can unlock your body's potential for vitality.
                    </p>
                <hr>
                <h5>Why Choose Health Compass?</h5>
                    <ol>
                        <li><strong>Tailored Approach: </strong>
                            We understand that every individual is unique, with different dietary needs, 
                            preferences, and goals. Our nutritionists take a personalized approach, 
                            crafting customized plans that cater to your specific requirements.
                        </li>
                        <li><strong>Expert Guidance: </strong>
                            Our team consists of highly qualified and experienced nutritionists, receiving Diploma's from
                            <a href="https://www.thewellnessevolution.com/" target="_blank" aria-label="(opens in a new tab)"
                                class="link-success">The Wellness Evolution</a>
                            and Certificate's from 
                            <a href="https://globalhealing.com/" target="_blank" aria-label="(opens in a new tab)"
                                class="link-success">Global Healing</a>.
                            <br>
                            They continue to stay up-to-date with the latest research and developments in the field of nutrition. 
                            You can trust them to provide evidence-based recommendations and support you every 
                            step of the way.
                        </li>
                        <li><strong>Holistic Perspective: </strong>
                            We believe in the power of holistic health. Our consultations not only focus on 
                            food choices but also consider your lifestyle, stress levels, sleep patterns, 
                            and overall well-being. We address the root causes of any imbalances to promote 
                            long-lasting health transformations.
                        </li>
                    </ol>
                <hr>
                <h5>Our Services</h5>
                    <ol>
                        <li><strong>Nutritional Assessments: </strong>
                            Our comprehensive assessments evaluate your current diet and health status, 
                            identifying areas for improvement and developing strategies to optimize your 
                            nutrition.
                        </li>
                        <li><strong>Weight Management: </strong>
                            Whether you're looking to lose weight, gain muscle, or maintain a healthy 
                            body composition, our nutritionists will guide you with personalized strategies 
                            and ongoing support.
                        </li>
                        <li><strong>Specialized Diets: </strong>
                            From vegan and vegetarian diets to gluten-free and ketogenic plans, we offer 
                            guidance and meal plans for various dietary preferences and requirements.
                        </li>
                        <li><strong>Wellness Coaching: </strong>
                            Our wellness experts provide coaching on stress management, mindful eating, 
                            intuitive eating, and habit formation to help you create a healthy relationship 
                            with food and achieve overall well-being.
                        </li>
                        <li><strong>Personalized Meal Plans: </strong>
                            Receive tailored meal plans designed to meet your nutritional needs, 
                            dietary preferences, and health goals. We create delicious and balanced menus 
                            that fit seamlessly into your lifestyle.
                        </li>
                    </ol>
                <hr>
                <h5>Book Your Consultation Today</h5>
                    <p>
                        Invest in your health and embark on a transformative journey with Health Compass. 
                        Together, we'll create a roadmap to better health, guiding you towards sustainable 
                        lifestyle changes that promote vitality and nourishment.<br>
                        Take the first step and book your consultation today. Start nourishing your body, 
                        energizing your mind, and embracing a healthier, happier you. Let Health Compass 
                        be your partner in achieving optimal wellness.
                    </p>
                <hr>
                <p class="mb-5">
                    <small>Disclaimer: Health Compass provides general nutritional advice and guidance. 
                        For specific medical conditions, it is recommended to consult with a medical professional.
                    </small>
                </p>
            </div>
        </div>
    </div>
    <!-- Footer section -->
    <footer class="container-wrapper">
        <div class="container quotes-container content-container">
            <section class="footer">
                <hr class="block-divider block-divider--short">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <small>
                            <h6>Social</h6>
                                <a href="https://www.facebook.com/healthcompassnutrition" target="_blank" rel="noopener"
                                    aria-label="Visit our Facebook page (opens in a new tab)" class="text-black">
                                    <i class="fab fa-facebook-square text-primary"></i> Follow us on Facebook!
                                </a>
                        </small>
                        <br><br>
                    </div>
                    <div class="col-12 col-md-6">
                        <small>
                            <h6>View our Privacy Policy:</h6>
                            <a href="https://www.privacypolicygenerator.info/live.php?token=n5T6IrejE6TG4DjtuMHBoNyiWC6zevFa" 
                                target="_blank" rel="noopener" aria-label="View our Privacy Policy (opens in a new tab)"
                                class="link-success">Privacy Policy
                            </a>
                        </small>
                        <br><br>
                    </div>
                </div>
            </section>
        </div>
    </footer>
    <!-- /footer -->
{% endblock %}
