{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <p id="about">
                    Nutrition and lifestyle coaching is a holistic approach to promoting overall health and well-being. 
                    It focuses on guiding individuals towards making sustainable and positive changes in their dietary habits, 
                    physical activity levels, and overall lifestyle choices. By providing personalized guidance and support, 
                    nutrition and lifestyle coaches empower their clients to achieve their health goals and maintain long-term success.
                </p>
                <!-- <p id="about">
                    Through nutrition coaching, individuals learn about the importance of balanced and nutritious meals, portion control, 
                    and mindful eating practices. Coaches help clients develop customized meal plans that suit their unique needs and preferences, 
                    while also addressing specific health concerns or dietary restrictions. They educate clients about the nutritional value of 
                    different foods and empower them to make informed choices that align with their goals. Additionally, lifestyle coaching encompasses 
                    various aspects such as stress management, sleep hygiene, and regular physical activity. Coaches work with clients to identify 
                    barriers and develop strategies to overcome them, fostering a healthier and more balanced lifestyle. By addressing the interplay 
                    between nutrition and lifestyle factors, coaching provides a comprehensive approach to optimizing health and well-being.
                </p> -->
            </div>
        </div>
    </div>
{% endblock %}
