{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-sm h-100">
    <div class="row justify-content-center h-100">
        <div class="col-8 my-auto">
            <h3 class="text-center">Testimonials from our clients</h3>
            <hr>
            {% for testimonial in testimonials %}
                <p>{{ testimonial.review }}</p>
                <span> -{{ testimonial.name }}</span>
                <small> | {{ testimonial.date }}</small>
                <hr>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
