<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-S" href="#" id="programmes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Programmes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="programmes-link">
                <a href="" class="dropdown-item">One Month</a>
                <a href="" class="dropdown-item">Three Months</a>
                <a href="" class="dropdown-item">Six Months</a>
            </div>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="#">Testimonials <span class="sr-only">(current)</span></a>
        </li>        

        <li class="nav-item active">
            <a class="nav-link" href="#">Blog <span class="sr-only">(current)</span></a>
        </li>        

        <li class="nav-item active">
            <a class="nav-link" href="#">Contact <span class="sr-only">(current)</span></a>
        </li>
    </ul>
</div>