{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="logo-font text-center">Programmes</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="programme-container">
        <div class="row d-flex justify-content-center">
            {% for programme in programmes %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title logo-font">{{ programme.name }}</h3>
                        <!-- <p class="card-text">{{ programme.description }}</p> -->
                        <p class="card-subtitle">€{{ programme.price }}</p>
                        <a href="{% url 'programme_detail' programme.id %}" class="card-link">More info</a>
                    </div>
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_programme' programme.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'delete_programme' programme.id %}">Delete</a>
                        </small>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
